/*Poppins font-family*/

@font-face {
  font-family: "poppins-light";
  src: url("../Fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  src: url("../Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../Fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../Fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
